*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Monteserrat;
}
body{
    color: white;
    background: black;
    font-family: "Roboto";
    padding: 2rem;
}

@font-face {
    font-family: Monteserrat;
    src: url(./Fonts/Montserrat-Regular.ttf);
}
@font-face {
    font-family: Monteserrat-Black;
    src: url(./Fonts/Montserrat-Black.ttf);
}
@font-face {
    font-family: Monteserrat-Light;
    src: url(./Fonts/Montserrat-Light.ttf);
}
@font-face {
    font-family: Monteserrat;
    src: url(./Fonts/Montserrat-Regular.ttf);
}
#Learn{
    background-color: orange;
    color: black;
    font-family: Monteserrat-Black;
}

header h1 {
    font-family: Monteserrat-Black;
}
nav ul{
    display: flex;
    /* border: 2px solid white; */
    justify-content: space-around;
    width: 50vw;
}
nav ul p{
    font-size: 1em;
    transition: 0.3s;
    cursor: pointer;

    
}

nav ul p:hover{
    color: orange;
}
header{
    margin:  0 0 2rem 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.HomeContent1{
    /* border: 1px solid wheat; */
    height: 5rem;
}
.Lectures-Overview{
    margin:  2rem 0 2rem 0;
    /* border: 1px solid white; */
    
}
.lectures-overview-header{
    /* border: 1px solid white; */
    display: flex;
    height: 4rem;
    margin: 0 0 1rem 0;
    align-items: center;
    justify-content: space-between;
}
.module-quiz{
    width: 10rem;
    height: 3rem;
    background-color: transparent;
    color: orange;
    font-size: 20px;
    cursor: pointer;
    border: 4px solid orange;
    border-radius: 30px;
    transition: .3s;
}
.module-quiz:hover{
    width: 11rem;
    background-color: orange;
    color: black;
    font-weight: bold;
}

.templates{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    /* border: 1px solid; */
}
.template1{
    width: 18rem;
    height: 10rem;
    background: rgb(38, 31, 31);
    margin: .5rem 0 0.5rem 0;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    padding: 1rem;
    justify-content: space-between;
    font-size: 20px;
    align-items: left;
    transition: .3s;
    cursor: pointer;
}
.template1:hover{
    transform: scale(1.05);
}
img{
    width: 20px;
    
}
.readmore{
    position: relative;
    width: 7rem;
    height: 2rem;
    background: black;
    color: white;
    font-size: 12px;
    border: none;
    border-radius: 20px;
    display: flex;
    align-items: center;
    padding: 10px;
    justify-content: space-between;
    left: 50%;
    cursor: pointer;
}
.readmore:hover{
   background-color: orange;
   color: black;
   font-weight: bold;
}


/* mediaquery part @sisco😌 */
/* I decided to work on the media query like you asked */

@media screen and (max-width:1300px) {
    body{
    }
    .templates{
        grid-template-columns: repeat(2, 1fr);
    }
    .template1{
        width: 15rem;
        padding: 14px;
    }
    .lectures-overview-header{
        flex-direction: column;
        height: 7rem;
    }
}







@media screen and (max-width:700px) {
    body{
    }
    .templates{
        grid-template-columns: repeat(1, 1fr);
    }
    .template1{
        width: 15rem;
        padding: 14px;
    }
    .lectures-overview-header{
        flex-direction: column;
        height: 7rem;
    }
}

.GoBack {
    display: flex;
    justify-content: space-between;
}

.GoBack .goBackButton {
    background: none;
    color: #fff;
    border: none;
}

.GoBack .quizButton {
padding: .3em .5em;
border: 1px solid orange;
background: none;
color: orange;
}

section.content {
    margin-top: 3em;
}

section.content .cos {
    font-family: Monteserrat-Light;
}

section.content h3 {
    font-family: Monteserrat;
}


section.content h2{
    margin-top: .3em;
    margin-bottom: 1em;
    font-family: Monteserrat-Black;
}

section p {
    font-family: Monteserrat-Light;
}

section.content ol{
    margin-top: 3em;
}

section.content ol ul li{
    margin-top: 1em;
    list-style-type:lower-roman;
}

.pagination {
    display: flex;
    justify-content: space-between;
    margin-top: 3em;
}

.pagination .prev {
width: 30%;
text-align: right;
padding: .2em .5em;
border: 1px solid #fff;
background: none;
color: #fff;
border-radius: 5px;
}

.pagination .next {
width: 30%;
text-align: left;
padding: .2em .5em;
border: 1px solid orange;
background: none;
color: orange;
border-radius: 5px;
}
/* 
.pagination .prev span {
text-align: left;
width: 10%;
} */

@media only screen and (min-width: 992px){
    
section.content {
    max-width: 70%;
}
}